@media screen and (max-width: 767px) { 
    
    /* main div */
    .main2{
        display:flex;
        justify-content: center;
        text-align: center;
        margin-right: 0;
    }
    
    
    .project{
        display: block;
        position: relative;
        text-align: center;
        margin-top: 0px;
        width:auto;
        left:0;
        
        color: rgb(243, 232, 200);
        font-size: 20vw;
        
    }

    .learn{
        display: none;
    }


    .tooltip{
        display: none;
    }

}

@media screen and (max-width: 991px) {
    .tooltip{
        left:0;
        right: 100px;
        top: 0;
        margin-bottom: 3vw;
        margin-top: 0;
        display: flex; 
        flex-direction: row;
    }


    .tooltiptext{
        font-size: 2vw;
        left: 100px;
    }


    svg{
        transform: none;
        padding: none;
    }
        

    .hide{
        bottom:100px;
        right: 270px;
        font-size: 2vw;
    }

    
    .project{
        text-align: center;
        margin-top: 0px;
        width:auto;
        left:0;
        margin-bottom: 0px;
        
        color: rgb(243, 232, 200);
        font-size: 20vw;
        
    }
}


@media screen and (max-width: 1333px) { 
   .hide{
       right: 350px;
       font-size: 2vw;
   }


}