@media screen and (max-width: 767px){ 
  .splitview{
        width: 100%;
    }

    .content{
        /* display:flex; */
        flex-direction: row-reverse;
        justify-content:center;
        height: 25vw;
        width: 100%;
        margin: 0 0;
        
    }

    /* top box */
    .box-1{
        /* width: 55%; */
        margin: 0 0;
    }

    /* hello text */
    .hello{
        /* font-size: 5vw; */
    }

    /* bottom box */
    .box-2{
        background-size: cover;
        background-position: bottom;
        margin:0 0;
    }

    /* .handle{
        left: 55%;
    } */


    .intro-text{
        font-size: 10vw;
        top:0;
        margin: 0 0;
    }


    /* click text */
    /* .click{
       
        top: 60px;
    } */


    /* hidden text */
    .intro-hidden{
        background-image: none;
        -webkit-text-fill-color:white;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        font-size: 4vw;

        top:6vw;
        left:100px;
        width: 50vw;
        margin-left: 5vw;
        margin-right: 10vw;
        
    }
}


@media screen and (max-width: 991px) {
    .intro-text{
        font-size: 4vw;
        top:30px;
        width: 25vw;
    }
    
    
    /* click text */
    /* .click{
        font-size: 2vw;
        
        margin-right: 1vw;
        top:300px
    } */
    
    
    /* hidden text */
    .intro-hidden{
        background-image: none;
        -webkit-text-fill-color:white;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        font-size: 4vw;
    
        top:6vw;
        left:0;
        width: 50vw;
        margin-left: 5vw;
        margin-right: 10vw;
        
    }


}


@media screen and (min-width: 992px) and (max-width: 1381px) { 
    .intro-text{
      font-size: 3vw;
      
    }
  
    .click{
      /* background-image: none; */
      -webkit-text-fill-color: rgb(201, 241, 227);
      font-size: 1rem;
      top: 420px;
  }
  
    .intro-hidden{
      font-size: 3vw;
    }
  
  
  }