/* project heading */
.project{
    margin-top: 0px;
    font-size: 9rem;
    -webkit-text-stroke: 1px rgb(11, 44, 32);
    position: relative;
    left:-350px;
    width: 500px;
}


/* top monsterata leaves */
.main2{
    background-image: url('../styles/assets/monst.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    left:0;
    margin-bottom: 0px;
   
    display:flex;
    flex-direction: column;
    
    align-items: center;
}


/* bottom monsterata leaves */
.bottom-main{
   width: 100%;
   height: 400px;
   position: relative;
   transform: rotate(180deg);
   margin-top: -200px; 
}


