.click{
    color: transparent;
    font-size: 3vw;
    margin-top: 0;
    background: -webkit-gradient(linear, left top, right top, from(#222), to(rgb(157, 241, 185)), color-stop(0.5, rgb(122, 230, 163)));
    background-size: 15px 100%;
    -webkit-background-size: 15px 100%;
    background-clip: text;
    -webkit-background-clip: text;

    text-align: center;

    background-repeat: no-repeat;
    background-position: 0 0;
    animation: shadow 10s ease-in-out ;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes shadow{
    0% {

       color: transparent;
       background-position: center left;
    }
      
    100% {
     
        color: rgba(240, 172, 178, 0.7);
        background-position: center right;
    }

}

