.hello{
    color: transparent;
    font-size: 20vw;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    animation: move 3s linear;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        color: transparent
    }

    50%{
        color: rgb(216, 173, 180, 0.5)
    }

    100%{
        color: white
    }

}

